{% extends 'homepage/layout.html' %}

{% block nav %}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Teaching</a>
    </li>
</ul>
{% endblock %}

{% block body %}
{% if history %}
{% for term, courses in history.items %}
    <div class="term mb-4">
        <h4 class="mb-3" style="font-weight: 700">{{ term.semester }} {{ term.year }}</h4>
        {% for course in courses %}
            <div class="course mb-3">
                <h6><span style="font-weight: 700">{{ course.title }} ({{ course.number }})</span>, {{ course.school }}</h6>
                <p style="color: grey;">{{ course.role }}</p>
            </div>
        {% endfor %}
    </div>
{% endfor %}
{% endif %}
{% endblock %}