body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: grey;
}

a:hover {
    color: black;
}

.nav-link {
    color: grey !important;
}

.active {
    color: purple !important;
}